# ======================
# Java / Spring Boot
# ======================
target/
*.class
*.log

# ======================
# Node / React
# ======================
node_modules/
dist/
build/

# ======================
# IDE
# ======================
.idea/
.vscode/

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# Environment Files
# ======================
.env